[user]
	email = huojianghao@dreame.tech
	name = huojianghao
[core]
  hooksPath = .git_hooks
  editor = /work/nvim.appimage
[gui]
	spellingdictionary = none
[credential]
	helper = store
[safe]
  directory = *
